@{
    ViewData["Title"] = "About";
}

<div>
 <img src="~/images/blue.jpg"></img>
</div>

<div>
    I am a college student who loves plants, my main loves are plants from the Solanaceae family they are also reffered too as nightshades, 
    these species have been used for medicine,beauty(in the form of eye drops to dialte pupils in early times), decor, assasinations, and food
    tomatoes are part of the nightshade family as well as tomatoes and bell peppers ~
    i also love hydrangeas, so if you want to talk with others who might love your favorite plant type check on in !
</div>
<div>
    this forum is supposed to help others interact about their plants and talk with other plant lovers about anything that comes to mind.
    I lovr people,plants, and coding so this all comes together, As the purpose of this site updates i will continue to update this page. 
    
</div>