@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to the garden.</h1>
    
</div>
<div class=" " Text-center">
    <img src="~/images/thegarden.jpg" class="img-fluid"/>
</div>



<div class="text-center">
    <a asp-controller="Home" asp-action="Index">Home</a><br />
    <a asp-controller="Home" asp-action="About">About</a><br />
    <a asp-controller="Home" asp-action="FAQ">FAQ</a>
</div>
