@model QuizTools
@{
    ViewData["Title"] = "Quiz Result";
}

<div>
  If you got in the 500 in means that youve got some pests love and those cant be good for your plants. you may want to start investing in some non toxic insect repellants
    depending on what kind of bug it is, some essential oils may work, if that does not work then try ordering some tpe of bug that feeds off of the parasite. 
    <br />
    if you got close to 35 it means that your plants health is not good but its also not bad either.try checking in on your plant more, if its summer and theres no water 
    then maybe watering your plant more will help bring your score up.
    <br />
    if you got higher than 35 it means that your plant needs some serios attention, you may have not watered it enough or maybe you planted it in a spot where theres a lot of water runoff
    and no light source. check in with the type of plant you have to see what is going on. you might have some dead foliage due to lack of nutrients from fertilizer or from a number of other things.
    <br />
    if you got less than 35 it means that your plant is most likely extremely happy though this test is only general the best advice is to keep your plant baby as cared for as you are now.

</div>

