@{
    ViewData["Title"] = "FAQ";
}
<div>
    <h1>1: Is your quiz accurate?</h1>
    <br />
    <h2>its general so like its only there to give a tip.</h2>
    <h1>2: what kind of fertilizer is good for my plants?</h1><h2>best kind is all natural honey, just thorw in some compost. its the best because its the cheapest and it produces less waste.</h2>
    <h1>3: will anymore features be coming?</h1>
    <br />
    <h2>yes we eventually want to store your score and have that score tied to your quiz.</h2>
    <h1>4: my succulent is dry looking and is growing funky what can i do ?</h1>
    <br />
    <h2>depending on the type of succulent you may need to trim it down 
    so that it may grow healthily again.</h2>

</div>

