@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <header class="jumbotron">
        <h1>Community forum</h1>
    </header>
    <div class="text-center ">
        <h2>This is a community forum please adhere to the  <a asp-controller="Forum" asp-action="Rules">Rules</a> page.</h2>
        <h2>please refer to the <a asp-controller="Forum" asp-action="FAQ">FAQ </a> for questions regarding the forum, and the quiz! happy posting</h2>
        <h2><a asp-controller="Forum" asp-action="Post">Post</a> post link</h2>
        <h2><a asp-controller="Forum" asp-action="Forum">Forum</a> Forum link</h2>
    </div>


</div>


<br />
