@{
    ViewData["Title"] = "Rules";
}


<div>
    <img src="~/images/rules.jpg"/>
</div>

<div>
    <h3>1: be respectful</h3>

    <h3>2: be kind</h3>
    <h3>3: NO HATESPEECH</h3>
    <h3>4: this quiz is for fun ,so have fun</h3>
   <h3>dont be mean to plants</h3>
    <h3>we are implementing the ability for the quiz to save your score from the quiz. until then no lying on your quiz</h3>
    
</div>